name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[dev]
        
    - name: Lint with Black
      run: |
        black --check .
        
    - name: Lint with Isort
      run: |
        isort --check-only .
        
    - name: Lint with Flake8
      run: |
        flake8 sp_secret_bot tests
        
    - name: Type check with Mypy
      run: |
        mypy sp_secret_bot
        
    - name: Test with pytest
      run: |
        pytest
